<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{Post Title}}</title>
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
  </head>
  <body>
    <header>
      <div><a href="{{Forum Link}}">return to {{Forum Title}}</a></div>
      <div class="main-content">
        <h1>{{Post Title}}</h1>
      </div>
    </header>
    <div class="replies">{{Replies}}</div>
  </body>
</html>
